:root {
  --system-violet-color: #a856fa;
  --system-white-color: #fff;
  --system-gray-color: #a0a0a4;
  --light-system-gray-color: #a0a0a4;
  --text-black-color: #000;
  --system-black-color: #000;
  --system-magenta-color: #cb11ab;
  --system-pink-color: #e313bf;
  --system-red-color: #f06139;
  --system-green-color: #0cb477;
  --system-bright-green-color: rgb(94, 203, 47);
  --dark-system-coral-color: #ff3b30;
  --translucent-white-color: rgba(255, 255, 255, 0.7);
  --rulers-rulers-colors: rgba(0, 0, 0, 0.1);
  --rulers-rulers-input-color: rgba(0, 0, 0, 0.2);
  --button-border-color: rgba(255, 255, 255, 0.45);
  --background-smoky-color: #f6f6fa;
  --system-smoky-dark-color: #f0ecf4;
  --background-white-color: #fff;

  --common-element-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
